* {
    border: 0px solid #3b032d;
    background-color: #dfd1c0;
}
.title {
    text-align: center;
    color: #3b032d;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.links {
    color: #443509;
    background-color: #d6c9b8;
    width: fit-content;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.link {
    color: #2e0627;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav.link {
    color: whitesmoke;
    background-color: #7a4b1f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button {
    border-radius: 8px;
    border: none;
    background-color: #7a4b1f;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    text-align: center;
    margin: 1em;
}
.placeholder {
    color: #443509;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.recipe {
    border-radius: 8px;
    border: none;
    background-color: #b18154;
    color: white;
    font-size: 18px;
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: 15em;
    padding-right: 15em;
    text-align: center;
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.side, .recipe-image {
    display: inline-block;
    vertical-align: top;
}
.side {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    background-color: #d6c9b8;
    margin-left: auto;
    margin-right: auto;
}
li {
    background-color: inherit;
}
h4 {
    background-color: inherit;
}
h3 {
    background-color: inherit;
}
p {
    background-color: inherit;
}